.ctaa{
    display: inline-block;
    border: 2px solid crimson;
    padding: 5px 15px;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: 0.5s ease;
    color: white;
    background-color: crimson;
}
.ctaa:hover{
    background-color: red;
    color: white;
}

.addToCart-section{
    justify-content: center;
    text-align: center;
    padding: 15px;
}